<!--获取页面数据-->
@model WMS.Entities.ProductDetailPage.DetailPageEntity
@using WMS.Entities.ProductDetailPage
@using WMS.Entities
@using WMS.Entities.MainPage
@using WMS.Entities.Base

<!-- 必须使用page-group来包裹 -->
<div class='page-group'>
    <!-- page ProductDetailPage -->
    <div class='page  page-current' id='ProductDetailPage'>
        <div class='content' id="Content-DetailPage">
            <!-- 工具栏 -->
            <div class='buttons-tab' id='DetailPage-Tabs'>
                <a href='#DetailTab' class='tab-link active button' id='DetailTabID'>详情</a>
                <a href='#AddFoodsTab' class='tab-link button' id='AddFoodsTabID'>商品选择</a>
            </div>
            <div class='content-block MarPad0'>
                <!-- Tabs -->
                <div class='tabs'>
                    <!-- 详情信息 -->
                    <div id='DetailTab' class='tab active'>
                        <div class='content-block MarPad0'>
                            <!-- 滑动 -->
                            <div class='swiper-container' id='swiper-container-ProductDetailPage'>
                                <div class='swiper-wrapper' id='swiper-wrapper-ProductDetailPage'>
                                    @foreach (SwiperEntity obj in Model.SwiperList)
                                    {
                                        var ImgPath = obj.ImgPath;
                                        <div class='swiper-slide'>
                                            <img src="@ImgPath" />
                                        </div>
                                    }
                                </div>
                                <div class='swiper-pagination' id='swiper-pagination-ProductDetailPage'></div>
                            </div>

                            <!-- 价格区间 -->
                            <table class='PW100'>
                                <tr>
                                    <td id='DetailDescription' class='TextLeft' colspan="2">@Model.DetailDescription</td>
                                </tr>
                                <tr class='SmallText PW33'>
                                    <td class='TextCenter '>
                                        ￥<span id='PriceRangeStart1'>@Model.PriceRangeStart1</span>.
                                        <span id='PriceRangeStart2'>@Model.PriceRangeStart2</span>~￥
                                        <span id='PriceRangeEnd1'>@Model.PriceRangeEnd1</span>.
                                        <span id='PriceRangeEnd2'>@Model.PriceRangeEnd2</span>
                                    <td class='TextCenter PW33'><span id='ConditionCount'>@Model.ConditionCount</span>件起批</td>
                                </tr>
                            </table>

                            <!-- 附加信息 -->
                            <table class='PW100 MarPad0'>
                                <tr>
                                    <td class='SmallText PW33 TextLeft'>已成交<span id='HasSales'>@Model.HasSales</span>件</td>
                                    <td class='SmallText PW33 TextLeft'>快递:<span id='ExpressFees'>@Model.ExpressFees</span>元</td>
                                    <td class='SmallText PW33 TextLeft'>库存:<span id='ProductStore'>@Model.ProductStore</span></td>
                                </tr>
                            </table>

                            <!-- 规格选择 -->
                            <center class='BigText'>规格选择</center>
                            <div class='card MarPad0 AddProductAction'>
                                <div class='card-content'>
                                    <a class='AddFoodsTabIDAction'>
                                        <table class='PW100'>
                                            <tr>
                                                <td>
                                                    <img class='Img100100' src='@Model.LittleImgPath' alt=''>
                                                </td>
                                                <td>
                                                    <table class='PW100'>
                                                        <tr>
                                                            <!--默认显示第一个颜色商品-->
                                                            <td class='TextLeft'>颜色:<br /><span id='ColorList'>@Model.ColorList[0].ColorName</span></td>
                                                        </tr>
                                                        <tr>
                                                            @{
                                                                string SizeString = string.Empty;
                                                                foreach (SizePriceStoreEntity obj in Model.ColorList[0].SizePriceStoreList)
                                                                {
                                                                    SizeString += obj.SizeName + "-";
                                                                }
                                                            }
                                                            <td class='TextLeft'>尺码:<br /><span id='SizeList'>@SizeString</span></td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>

                            <!-- 商品属性 -->
                            <center class='BigText'>商品属性</center>
                            <div class='list-block'>
                                <ul>
                                    <li class='item-content'>
                                        <div class='item-media'><i class='icon icon-f7'></i></div>
                                        <div class='item-inner'>
                                            <div class='item-title'>商品名称</div>
                                            <div class='item-after ' id="ProductName">@Model.ProductName</div>
                                        </div>
                                    </li>
                                    <li class='item-content'>
                                        <div class='item-media'><i class='icon icon-f7'></i></div>
                                        <div class='item-inner'>
                                            <div class='item-title'>型号</div>
                                            <div class='item-after ' id="ProductModel">@Model.ProductModel</div>
                                        </div>
                                    </li>
                                    <li class='item-content'>
                                        <div class='item-media'><i class='icon icon-f7'></i></div>
                                        <div class='item-inner'>
                                            <div class='item-title'>货源地</div>
                                            <div class='item-after ' id="SourceAddress">@Model.SourceAddress</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!-- 买家评论 -->
                            <center class='BigText'>买家评论</center>
                            <center class='MiddleText'>
                                商品满意度
                                <span class='color-green'>
                                    @if (@Model.SatisfactionCount <= 0)
                                    {
                                        <span> 暂无评级 </span>
                                    }
                                    else
                                    {
                                        for (int i = 0; i < @Model.SatisfactionCount; i++)
                                        {
                                            <span class='icon icon-star'></span>
                                        }
                                    }
                                </span>
                            </center>
                            <table class='PW100' id='TalksTable'>
                                @if (@Model.TalksList == null || @Model.TalksList.Count < 1)
                                {
                                    <tr><td>暂无评论</td></tr>
                                }
                                else
                                {
                                    int count = 0;
                                    foreach (TalksEntity obj in @Model.TalksList)
                                    {
                                        if (count > 10)
                                        {
                                            break;
                                        }
                                        <tr>
                                            <td class='TalkNickName'>@obj.NikeName<span class=SmallText>@obj.SelectItems</span></td>
                                        </tr>
                                        <tr>
                                            <td class='Talks'>@obj.Talks</td>
                                        </tr>
                                        count++;
                                    }
                                }
                            </table>
                            @if (@Model.TalksList != null && @Model.TalksList.Count > 10)
                            {
                                <div id='MoreTalks'><a>更多评论<span class='icon icon-friends'></span></a></div>
                            }
                            <!-- 图片详情 -->
                            <div id="DetailImgsShow">
                                @foreach (string obj in Model.DetailImgsShowList)
                                {
                                    <img class="DetailImgs" src="@obj" />
                                }
                            </div>

                            <!-- 同类推荐 -->
                            <center class='BigText'>同类推荐</center>
                            <table id='SimilarRecommend' class='PW100'>
                                @{
                                    int flag = 0;
                                    List<SimilarRecommend> temp = new List<SimilarRecommend>();
                                    foreach (SimilarRecommend obj in Model.SimilarRecommendList)
                                    {
                                        temp.Add(obj); flag++;
                                        if (temp.Count == 3)//3的整数倍
                                        {
                                            <tr>
                                                @{
                                            foreach (SimilarRecommend obj1 in temp)
                                            {
                                                <td class='PW33 H5Rem SimilarRecommendClass'>
                                                    <img class='PW100' src='@obj1.ImgPath'>
                                                    <div class='RecommendPrice'>@obj1.RecommendPrice</div>
                                                    <input type="hidden" value="@obj1.ProductID" />
                                                </td>
                                            }
                                                }
                                            </tr>
                                            temp.Clear();
                                        }
                                        //1个 2个情况
                                        if (flag == Model.SimilarRecommendList.Count && temp.Count != 0)
                                        {
                                            <tr>
                                                @{
                                            foreach (SimilarRecommend obj1 in temp)
                                            {
                                                <td class='PW33 H5Rem SimilarRecommendClass'>
                                                    <img class='PW100' src='@obj1.ImgPath'>
                                                    <div class='RecommendPrice'>@obj1.RecommendPrice</div>
                                                    <input type="hidden" value="@obj1.ProductID" />
                                                </td>
                                            }
                                            for (int i = 0; i < (3 - temp.Count); i++)
                                            {
                                                <td class='PW33 H5Rem SimilarRecommendClass'></td>
                                            }
                                                }

                                            </tr>
                                            temp.Clear();
                                        }
                                    }
                                }
                            </table>
                        </div>
                    </div>

                    <!-- 添加购物车 -->
                    <div id='AddFoodsTab' class='tab'>
                        <!--此时OrderClass的ID【DetailPageOrderNo】只用于界面查询，并不是订单ID，处于订单状态时才使用做OrderNo-->
                        <div class='content-block Padding0rem OrderClass' id="@Model.OrderNo">
                            <input type="hidden" class="ProductID" value="@Model.ProductID" />
                            <!-- 商品展示 -->
                            <div class='card MarPad0 AddProductAction'>
                                <div class='card-content'>
                                    <table class='PW100'>
                                        <tr>
                                            <td>
                                                <img class='Img100100' src='@Model.LittleImgPath' alt=''>
                                            </td>
                                            <td>
                                                <table class='PW100'>
                                                    <tr>
                                                        <td class='TextLeft MiddleText'>@Model.DetailDescription</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="redcolor">￥@Model.PriceStart~￥@Model.PriceEnd</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <!-- 选择规格 -->
                            @{//按钮列表
                                int Count = 0; //计数
                                string Active = "active";
                                List<ColorEntity> BtnTemp = new List<ColorEntity>();
                                Dictionary<Guid, Guid> ColorSizeIDDic = new Dictionary<Guid, Guid>();
                                foreach (ColorEntity Colors in Model.ColorList)
                                {
                                    ColorSizeIDDic.Add(Colors.ColorID, Colors.ColorBadgeID);
                                    Count++;
                                    BtnTemp.Add(Colors);
                                    //每行最多几个按钮
                                    int BtnNumber = 4;
                                    if (BtnTemp.Count > 0 && BtnTemp.Count % BtnNumber == 0)
                                    {
                                        <div class="buttons-row MarginT1Rem ">
                                            @{
                                        foreach (ColorEntity ColorBtn1 in BtnTemp)
                                        {
                                            string BadgeCount = string.Empty;
                                            if (ColorBtn1.ColorFee > 0)
                                            {
                                                BadgeCount = ColorBtn1.ColorFee.ToString();
                                            }
                                            <a href="#@ColorBtn1.ColorID" class="tab-link button H1P5Rem ColorSwich @Active">
                                                @ColorBtn1.ColorName
                                                <span class='BadgeSpace' id="@ColorBtn1.ColorBadgeID">@BadgeCount</span>
                                                <input type="hidden" class="ImgPath" value="@ColorBtn1.ColorImgPath" />
                                            </a>
                                            Active = string.Empty;//Active被使用
                                        }
                                            }
                                        </div>
                                        BtnTemp.Clear();
                                    }
                                    if (Count == Model.ColorList.Count && BtnTemp.Count > 0)
                                    {
                                        string MarginT0P35Rem = "MarginT0P35Rem";//大于一组按钮组时隔拉小
                                        string MarginT1Rem = "MarginT1Rem";//等于一组按钮时间隔拉大
                                        string Margin = string.Empty;
                                        if (Count > BtnNumber) { Margin = MarginT0P35Rem; }
                                        else { Margin = MarginT1Rem; }
                                        <div class="buttons-row @Margin">
                                            @{
                                        foreach (ColorEntity ColorBtn2 in BtnTemp)
                                        {
                                            <a href="#@ColorBtn2.ColorID" class="tab-link button H1P5Rem ColorSwich @Active ">
                                                @ColorBtn2.ColorName
                                                <span class='BadgeSpace' id="@ColorBtn2.ColorBadgeID"></span>
                                                <input type="hidden" class="ImgPath" value="@ColorBtn2.ColorImgPath" />
                                            </a>
                                            Active = string.Empty;//Active被使用
                                        }
}
                                        </div>
                                        BtnTemp.Clear();
                                    }
                                }
                            }

                            <div class="tabs Bord1pxTDot Bord1pxB MarginT1Rem">
                                @{//Tab列表
                                    Count = 0;
                                    Active = "active";
                                    foreach (ColorEntity ColorTab in Model.ColorList)
                                    {
                                        Count++;
                                        //添加Tabs
                                        <div class='tab @Active ColorTab' id='@ColorTab.ColorID'>
                                            @{
                                        //添加尺寸列表控件
                                        foreach (SizePriceStoreEntity SPobj in ColorTab.SizePriceStoreList)
                                        {
                                            decimal ShowPrice = SPobj.Price / 100;
                                            <table class="PW100 MarginT1Rem ">
                                                <tr>
                                                    <td class=" PW17 TextCenter">@SPobj.SizeName</td>
                                                    <td>
                                                        <!--加减控件-->
                                                        <table class="PW100">
                                                            <tr>
                                                                <td class="PW40">
                                                                    <div class="SubtracteProduct PW100 BtnDiv">
                                                                        -
                                                                    </div>
                                                                </td>
                                                                <td class="PW20 TotallProduct">
                                                                    <input type="number" value="0" class="PW100 H1P4Rem FocusAuth TextCenter NonBorder">
                                                                </td>
                                                                <td class="PW40">
                                                                    <div class="AddProduct PW100 BtnDiv">
                                                                        +
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <!--HasCheck 默认选中-->
                                                                    <div class="SizePricediv HasCheck" id="@SPobj.SizePriceID">
                                                                        <input type="hidden" class="MaxCount" value="@SPobj.Store">
                                                                        <input type="hidden" class="Price" value="@SPobj.Price" />
                                                                        <input type="hidden" class="Count" value="0" />
                                                                        <input type="hidden" class="SizeFee" value="0" />
                                                                        <input type="hidden" class="ColorFeeBadgeID" value="@ColorSizeIDDic[ColorTab.ColorID]" />
                                                                        <input type="hidden" class="OrderNo" value="@Model.OrderNo" />
                                                                        <input type="hidden" class="OderFeeBadgeID" value="@Model.OrderBadgeID" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="Padding0P5RemT">￥@ShowPrice</td>
                                                    <td class="Padding0P5RemT">库存:@SPobj.Store</td>
                                                </tr>
                                            </table>
                                        }
                                        Active = string.Empty;//Active被使用
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <nav class='bar bar-tab' id='ProductDetailPage-footer'>
            <a class='tab-item pull-left active MyBack' id='DetailBackMainPage'>
                <span class='icon icon-left MarginT0P35Rem'></span>
            </a>
            <a class='tab-item ' id='AddProductsToCart'>
                加入购物车
                <input type="hidden" class="OpenID" value="@Model.OpenID" />
            </a>
            <a class='tab-item ' id='BuyProduct'>
                结算(<span id="@Model.OrderBadgeID">0.00</span>)
            </a>
        </nav>
    </div>
</div>
