@model WMS.Entities.WeChatEntity.JoinUsPageEntity

<div class='page-group'>
    <!-- 地址管理页 -->
    <div class='page' id='JoinUsPage'>
        <div class="content">
            <!--加盟须知-->
            <div class="list-block contacts-block">
                <div class="list-group">
                    <ul>
                        <li class="list-group-title BigText">加盟须知</li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">须知1</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">须知2</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">须知3</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">须知4</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!--加盟步骤-->
            <div class="list-block contacts-block">
                <div class="list-group">
                    <ul>
                        <li class="list-group-title BigText">加盟步骤</li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">要点1</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">要点2</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">要点3</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">要点4</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!--加盟表-->
            <div id="JoinUSInfo" class="BigText">加盟表</div>
            <form id="JoinUsPage-Form">
                <div class="list-block">
                    <ul>
                        <!-- 昵称 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">昵称</div>
                                    <div class="item-input">
                                        <input type="text" id="JoinUSNickName" value="@Model.nickname" readonly>
                                        <input type="hidden" name="OpenID" value="@Model.openid" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 联系人 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">联系人</div>
                                    <div class="item-input">
                                        <input type="text" id="JoinUSLinkMan" value="@Model.LinkMan" name="LinkMan" placeholder="姓名" required>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 联系电话 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">联系电话</div>
                                    <div class="item-input">
                                        <input type="number" id="JoinUSLinkManPhone" value="@Model.LinkManPhone" name="LinkManPhone" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 联系邮箱 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">联系邮箱</div>
                                    <div class="item-input">
                                        <input type="text" id="JoinUSEmail" value="@Model.Email" name="Email" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 微信账号 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">微信账号</div>
                                    <div class="item-input">
                                        <input type="number" id="BankCardNumber" value="@Model.WxID" name="WxID" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>

        </div>
        <!-- 工具栏 -->
        <nav class='bar bar-tab' id="JoinUsPage-Footer">
            <a class='tab-item pull-left active MyBack' id='JoinUsPage-Back'>
                <span class='icon icon-left'></span>
            </a>
            <a class='tab-item' id='JoinUsPage-OK'>
                申请加盟
                <input type="hidden" class="OpenID" value="@Model.openid" />
            </a>
        </nav>
    </div>
</div>