@{
    @model WMS.Entities.WeChatEntity.ConfirmPageEntity
}

<title>支付确认</title>
<div class='page-group'>
    @*支付确认*@
    <div class='page' id='PayConfirm-Page'>
        <div class='content'>
            <img src="~/Content/images/Icon/SafePayImg.png" id="SafePayImg" />
            <center>
                <div id="WxSafePay">
                    <span>
                        确认支付
                    </span>
                </div>
                <input type="hidden" class="OpenID" value="@Model.OpenID" />
                <input type="hidden" class="OrderNo" value="@Model.OrderNo" />

                <div id="DealFeeTip">金额:￥@Model.DealFee</div>
                <table class="PW100">
                    <tr class="MarginT0P35Rem">
                        <th class="TextRight">商品名称:</th>
                        <td class="Padding1RemL">@Model.ProductName</td>
                    </tr>
                    <tr class="MarginT0P35Rem">
                        <th class="TextRight">订单号:</th>
                        <td class="Padding1RemL">@Model.OrderNo</td>
                    </tr>
                    <tr class="MarginT0P35Rem">
                        <th class="TextRight">收款方:</th>
                        <td class="Padding1RemL">@Model.CompanyName</td>
                    </tr>
                </table>
            </center>
            <p></p>
        </div>
        <!-- 底部栏 -->
        <nav class='bar bar-tab myfooter'>
            <a class='tab-item active pull-left MyBack' id="ConfirmPage-Back">
                <span class='icon icon-left'></span>
            </a>
        </nav>
    </div>
</div>