@using WMS.Entities.UserInfoPage

@model WMS.Entities.UserInfoPage.UserInfoPageEntiy

<div class='page-group'>
    @*用户信息页*@
    <div class='page' id='UserInfoPage'>
        <div class='content'>
            <!--用户头部信息-->
            <div id='ImgBackgroung'>
                <table class="PW65 Top3Rem">
                    <tr>
                        <td id='imgtd'>
                            <img src='@Model.HeadImgPath' id='UserBaseInfoHeadImg' />
                        </td>
                        <td>
                            <table class="PW100 TextLeft Margin1Rem">
                                <tr>
                                    <td class="TextCenter">欢 迎 您！</td>
                                </tr>
                                <tr>
                                    <td class="TextCenter">@Model.NikeName</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <!--卡片信息-->
            <div class="card-container">
                <!--我的商铺管理-->
                <div class="card OpenIDLink">
                    <div class="card-content">
                        <div class="card-content-inner Padding1RemR">
                            <table class="PW100">
                                <tr>
                                    <td class="PW50">
                                        <span class="icon icon-computer BigText"></span>
                                        <span class="TextColor">我的商铺管理</span>
                                        <input type="hidden" class="OpenID" value="@Model.OpenID" />
                                        <input type="hidden" class="Url" value="/WeChat/MyShop" />
                                        <input type="hidden" class="IaValid" value="@Model.HasShop.ToString()" />
                                        @{
                                            if (!Model.HasShop)
                                            {
                                                <input type="hidden" class="Tip" value="你还没有商铺，是否加盟？" />
                                                <input type="hidden" class="TipUrl" value="/WeChat/JoinUs" />
                                            }
                                        }
                                    </td>
                                    <td class="PW33 TextRight">
                                        <span class="icon icon-right"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--已完成-->
                <div class="card OpenIDLink">
                    <div class="card-content">
                        <div class="card-content-inner Padding1RemR">
                            <table class="PW100">
                                <tr>
                                    <td class="PW50">
                                        <span class="icon icon-emoji BigText"></span>
                                        <span class="TextColor">已完成订单</span>
                                        <input type="hidden" class="OpenID" value="@Model.OpenID" />
                                        <input type="hidden" class="Url" value="/UserInfoPage/FinishPage" />
                                    </td>
                                    <td class="PW33 TextRight">
                                        <span class="icon icon-right"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!--待支付-->
                <div class="card OpenIDLink">
                    <div class="card-content">
                        <div class="card-content-inner Padding1RemR">
                            <table class="PW100">
                                <tr>
                                    <td class="PW50">
                                        <span class="icon icon-edit BigText"></span>
                                        <span class="TextColor">待支付订单</span>
                                        <input type="hidden" class="OpenID" value="@Model.OpenID" />
                                        <input type="hidden" class="Url" value="/UserInfoPage/PayingPage" />
                                    </td>
                                    <td class="PW33 TextRight">
                                        <span class='badge'>2</span>
                                        <span class="icon icon-right"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!--待发货-->
                <div class="card OpenIDLink">
                    <div class="card-content">
                        <div class="card-content-inner Padding1RemR">
                            <table class="PW100">
                                <tr>
                                    <td class="PW50">
                                        <span class="icon icon-gift BigText"></span>
                                        <span class="TextColor">待发货订单</span>
                                        <input type="hidden" class="OpenID" value="@Model.OpenID" />
                                        <input type="hidden" class="Url" value="/UserInfoPage/SendingPage" />
                                    </td>
                                    <td class="PW33 TextRight">
                                        <span class="icon icon-right"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!--待收货-->
                <div class="card OpenIDLink">
                    <div class="card-content">
                        <div class="card-content-inner Padding1RemR">
                            <table class="PW100">
                                <tr>
                                    <td class="PW50">
                                        <span class="icon icon-card BigText"></span>
                                        <span class="TextColor">待收货订单</span>
                                        <input type="hidden" class="OpenID" value="@Model.OpenID" />
                                        <input type="hidden" class="Url" value="/UserInfoPage/ReceivingPage" />
                                    </td>
                                    <td class="PW33 TextRight">
                                        <span class="icon icon-right"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--我的退款-->
                <div class="card OpenIDLink">
                    <div class="card-content">
                        <div class="card-content-inner Padding1RemR">
                            <table class="PW100">
                                <tr>
                                    <td class="PW50">
                                        <span class="icon icon-refresh BigText"></span>
                                        <span class="TextColor">我的退款订单</span>
                                        <input type="hidden" class="OpenID" value="@Model.OpenID" />
                                        <input type="hidden" class="Url" value="/UserInfoPage/ChargebackPage" />
                                    </td>
                                    <td class="PW33 TextRight">
                                        <span class="icon icon-right"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!--收货地址管理-->
                <div class="card OpenIDLink">
                    <div class="card-content">
                        <div class="card-content-inner Padding1RemR">
                            <table class="PW100">
                                <tr>
                                    <td class="PW50">
                                        <span class="icon icon-settings BigText"></span>
                                        <span class="TextColor">收货地址管理</span>
                                        <input type="hidden" class="OpenID" value="@Model.OpenID" />
                                        <input type="hidden" class="Url" value="/AddressPage/Index" />
                                    </td>
                                    <td class="PW33 TextRight">
                                        <span class="icon icon-right"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--页面导航栏-->
        <nav class='bar bar-tab' id='UserInfoPage-footer'>
            <a class='tab-item active MyBack' id="UserInfoPageMyBack">
                <span class='icon icon-home'></span>
            </a>
            <a class='tab-item SearchPageLink'>
                <span class='icon icon-search'></span>
            </a>
            <!-- 必须使用~，要不/会回到主站点 -->
            <!--JS跳转时需加上WebSiteName-->
            <a class='tab-item CartPageLink'>
                <span class='icon icon-cart'></span>
                <span class='badge'>2</span>
            </a>
            <a class='tab-item'>
                <div>
                    <div class='UserInfoPageLink'>
                        <img src='@Model.HeadImgPath' class='UserHeadImg' />
                        <input type="hidden" class="OpenID" value="@Model.OpenID" />
                    </div>
                </div>
            </a>
        </nav>
    </div>
</div>
