@model WMS.Entities.CartPage.CartPageEntity
@using WMS.Entities.CartPage
@using WMS.Entities.Base
<!-- 必须使用page-group来包裹 -->
<div class='page-group'>
    @*购物车*@
    <div class='page' id='CartPage'>
        <div class='content' id="CartPageID">
            @{
                if (Model.CartPageSigleEntityList.Count <= 0)
                {
                    <p></p>
                    <p>你的购物车里没有商品</p>
                    <p></p>
                }
                else
                {
            <!-- 商品展示 -->
                    foreach (CartPageSingleEntity mainobj in Model.CartPageSigleEntityList)
                    {
                        //判断是否需要全选 （默认为全选）
                        string AllSelectActive = "CheckBoxActive";
                        string OrderFee = string.Empty;
                        if (mainobj.TotalFee > 0)
                        {
                            OrderFee = "￥" + (mainobj.TotalFee / 100).ToString();
                        }
                        foreach (ColorEntity color in mainobj.ColorList)
                        {
                            foreach (SizePriceStoreEntity size in color.SizePriceStoreList)
                            {
                                if (size.Count == 0)
                                {
                                    //取消全选
                                    AllSelectActive = string.Empty;
                                }
                            }
                        }
                        <div class="Bord1pxB OrderClass" id="@mainobj.OrderNo">
                            <!--主信息-->
                            <table class="PW100 MarginTop1Rem">
                                <tr>
                                    <td class="ALLCheckBox-CartPage">
                                        <center>
                                            <div class="CheckBox @AllSelectActive">
                                                <input type="hidden" class="OrderNo" value="@mainobj.OrderNo" />
                                            </div>
                                        </center>
                                    </td>
                                    <td class="ImgTd-CartPage">
                                        <img class="Radius1Rem" src="@mainobj.LittleImgPath">
                                    </td>
                                    <td class="TextTd-65 ">
                                        @mainobj.DetailDescription
                                    </td>
                                </tr>
                                <!--按钮列-->
                                <tr>
                                    <td></td>
                                    <td colspan="2">
                                        <p class="buttons-row">
                                            <a class="button DeleteOrder">
                                                移除
                                                <input type="hidden" class="OrderNo" value="@mainobj.OrderNo">
                                                <input type="hidden" class="ShowDescreption" value="@mainobj.DetailDescription">
                                            </a>
                                            <a class="button ShowHideSwich">
                                                <span class="TextSwich">详情</span>
                                                <span class="BadgeSpace" id="@mainobj.OrderBadgeID">@OrderFee</span>
                                                <input type="hidden" class="HideTabsID" value="@mainobj.HideTabsID" />
                                            </a>
                                        </p>
                                    </td>
                                </tr>
                                <!--数据存储-->
                                <tr>
                                    <td colspan="3">
                                        <div class="OrderValueStore">
                                            <input type="hidden" class="OrderNo" value="@mainobj.OrderNo" />
                                            <input type="hidden" class="OrderFee" value="@OrderFee" />
                                            <input type="hidden" class="ProductID" value="@mainobj.ProductID" />
                                        </div>
                                    </td>
                                </tr>

                            </table>

                            <!--颜色 尺寸Tab-->
                            <div id="@mainobj.HideTabsID" class="tab animated lightSpeedOut CanHideTab Bord1pxTDot">
                                <div class="content-block Padding0rem Margin0Rem">
                                    <!-- 选择规格 按钮 -->
                                    @{
                        int Count = 0; //计数
                        string Active = "active";
                        List<ColorEntity> BtnTemp = new List<ColorEntity>();
                        Dictionary<Guid, Guid> ColorSizeIDDic = new Dictionary<Guid, Guid>();
                        foreach (ColorEntity Colors in mainobj.ColorList)
                        {
                            ColorSizeIDDic.Add(Colors.ColorID, Colors.ColorBadgeID);
                            Count++;
                            BtnTemp.Add(Colors);
                            //每行最多几个按钮
                            int BtnNumber = 4;
                            if (BtnTemp.Count > 0 && BtnTemp.Count % BtnNumber == 0)
                            {
                                <div class="buttons-row MarginT1Rem ">
                                    @{
                                foreach (ColorEntity ColorBtn1 in BtnTemp)
                                {
                                    string BadgeCount = string.Empty;
                                    if (ColorBtn1.ColorFee > 0)
                                    {
                                        BadgeCount = "￥" + (ColorBtn1.ColorFee / 100).ToString();
                                    }
                                    <a href="#@ColorBtn1.ColorID" class="tab-link button H1P5Rem ColorSwich @Active">
                                        @ColorBtn1.ColorName
                                        <span class='BadgeSpace' id="@ColorBtn1.ColorBadgeID">@BadgeCount</span>
                                        <input type="hidden" class="ImgPath" value="@ColorBtn1.ColorImgPath" />
                                    </a>
                                    Active = string.Empty;//Active被使用
                                }
                                    }
                                </div>
                                BtnTemp.Clear();
                            }
                            if (Count == mainobj.ColorList.Count && BtnTemp.Count > 0)
                            {
                                string MarginT0P35Rem = "MarginT0P35Rem";//大于一组按钮组时隔拉小
                                string MarginT1Rem = "MarginT1Rem";//等于一组按钮时间隔拉大
                                string Margin = string.Empty;
                                if (Count > BtnNumber) { Margin = MarginT0P35Rem; }
                                else { Margin = MarginT1Rem; }
                                <div class="buttons-row @Margin">
                                    @{
                                foreach (ColorEntity ColorBtn2 in BtnTemp)
                                {
                                    string BadgeCount2 = string.Empty;
                                    if (ColorBtn2.ColorFee > 0)
                                    {
                                        BadgeCount2 = "￥" + (ColorBtn2.ColorFee / 100).ToString();
                                    }
                                    <a href="#@ColorBtn2.ColorID" class="tab-link button H1P5Rem ColorSwich @Active ">
                                        @ColorBtn2.ColorName
                                        <span class='BadgeSpace' id="@ColorBtn2.ColorBadgeID">@BadgeCount2</span>
                                        <input type="hidden" class="ImgPath" value="@ColorBtn2.ColorImgPath" />
                                    </a>
                                    Active = string.Empty;//Active被使用
                                }
                                    }
                                </div>
                                BtnTemp.Clear();
                            }
                        }
                                    }

                                    <!--颜色Tab下尺寸信息-->
                                    <div class="tabs MarginT1Rem">
                                        @{
                        Active = "active";
                        foreach (ColorEntity ColorTab in mainobj.ColorList)
                        {
                            <div class="tab @Active ColorTab" id="@ColorTab.ColorID">
                                @{
                            foreach (SizePriceStoreEntity SPobj in ColorTab.SizePriceStoreList)
                            {
                                string SingleSelectActive = string.Empty;
                                string HasCheck = string.Empty;
                                decimal ShowPrice = SPobj.Price / 100;
                                decimal SizeFee = SPobj.Count * SPobj.Price;
                                if (SPobj.Count > 0)
                                {
                                    SingleSelectActive = "CheckBoxActive";
                                    HasCheck = "HasCheck";
                                }
                                <table class="PW100 MarginT1Rem ">
                                    <tr>
                                        <td class="OneCheckBox-CartPage Bord1pxR" rowspan="2">
                                            <center>
                                                <div class="CheckBox @SingleSelectActive">
                                                </div>
                                            </center>
                                        </td>
                                        <td class=" PW17 TextCenter">@SPobj.SizeName</td>
                                        <td>
                                            <!--加减控件-->
                                            <table class="PW100">
                                                <tr>
                                                    <td class="PW40">
                                                        <div class="SubtracteProduct PW100 BtnDiv">
                                                            -
                                                        </div>
                                                    </td>
                                                    <td class="PW20 TotallProduct">
                                                        <input type="number" value="@SPobj.Count" class="PW100 H1P4Rem FocusAuth TextCenter NonBorder">
                                                    </td>
                                                    <td class="PW40">
                                                        <div class="AddProduct PW100 BtnDiv">
                                                            +
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <div class="SizePricediv @HasCheck" id="@SPobj.SizePriceID">
                                                            <input type="hidden" class="MaxCount" value="@SPobj.Store">
                                                            <input type="hidden" class="Price" value="@SPobj.Price" />
                                                            <input type="hidden" class="Count" value="@SPobj.Count" />
                                                            <input type="hidden" class="OrderNo" value="@mainobj.OrderNo" />
                                                            <input type="hidden" class="SizeFee" value="@SizeFee" />
                                                            <input type="hidden" class="ColorFeeBadgeID" value="@ColorSizeIDDic[ColorTab.ColorID]" />
                                                            <input type="hidden" class="OderFeeBadgeID" value="@mainobj.OrderBadgeID" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Padding0P5RemT">￥@ShowPrice</td>
                                        <td class="Padding0P5RemT">库存:@SPobj.Store</td>
                                    </tr>
                                </table>
                            }
                                }
                            </div>
                            Active = string.Empty;
                        }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <nav class='bar bar-tab myfooter'>
            @if (Model.CartPageSigleEntityList.Count > 0)
            {
                <a class='tab-item active pull-left MyBack' id="CartPage-Back">
                    <span class='icon icon-left'></span>
                </a>
                <a class='tab-item' id='AllSelectBtn'>
                    <span id='AllSelectText'>全选</span>
                </a>
                <a class='tab-item' id='CartPage-TotalMoney'>
                    <span>结算￥</span><span id='CartPage-TotalFeeID'>0.00</span>
                    <input type="hidden" class="OpenID" value="@Model.CartPageSigleEntityList[0].OpenID" />
                </a>
            }
            else
            {
                <a class='tab-item active pull-left MyBack AllBack'>
                    <span class='icon icon-left'></span>
                </a>
            }
        </nav>
    </div>
</div>